PySide6==6.9.1
requests==2.32.4
aiohttp==3.12.15
openai-whisper==20250625
torch==2.3.0+cu121
torchvision==0.18.0+cu121
torchaudio==2.3.0+cu121
transformers
huggingface_hub==0.34.4
srt
pysubs2
numpy==1.26.4
openai
soundfile
pygame
pyinstaller
pypdf2 
python-docx 
llama-cpp-python
playsound==1.2.2